<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
  <styleBundle path="~/Content/foadcss">
    <include path="~/assets/vendor/bootstrap/css/bootstrap.min.css" />
    <include path="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" />
    <include path="~/assets/vendor/boxicons/css/boxicons.min.css" />
    <include path="~/assets/vendor/quill/quill.snow.css" />
    <include path="~/assets/vendor/quill/quill.bubble.css" />
    <include path="~/assets/vendor/remixicon/remixicon.css" />
    <include path="~/assets/vendor/simple-datatables/style.css" />
    <include path="~/assets/css/style.css" />
   
  </styleBundle>
</bundles>